html,body{

    margin: 0;
    padding: 0;
}

#root{

    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    /* background-color: rgb(23, 254, 69); */
    padding: 0px 0px 70px 0px;
    
}

.clock {
    
    font-size: 4rem;
    color: #333;
    height: fit-content;
    width: fit-content;  
    padding: 30px;
    border: 5px solid #333;
    border-radius: 5px;
    background-color: #e716c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv{

    height: 60%;
    width: 90%;
    border-top: 2px solid;
    background-color: rgb(38, 171, 175);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
