html,body{

    margin: 0;
    padding: 0;
}

#root{

    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./clock_img.jpeg');
}
h1{
    text-align: center;
    color: #2edc21;
    padding: 0px 0px 0px 0px;
    
}

.clock {
    
    font-size: 4rem;
    color: #141313;
    height: fit-content;
    width: fit-content;  
    padding: 10px;
    border: 2px solid #333;
    border-radius: 2px;
    background-color: #e716c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv{

    height: 60%;
    width: 90%;
    border-top: 2px solid;
    /* background-color: rgb(38, 171, 175); */
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
